


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-2 px-8 font-semibold border  shadow-md rounded hover:bg-primary hover:border hover:border-[#0b4142] hover:text-complementary duration-700 focus:outline-none focus:ring-2 focus:ring-[#0b4142] focus:ring-opacity-75;
  }
}
@layer components {
  .card {
    @apply w-[60%] rounded-lg flex flex-col h-3/4 gap-6;
  }
}
@layer components {
  .chat {
    @apply bg-primary/90 h-[40vh] w-full
  }
}
@layer components {
  .inPage-title {
    @apply text-primary capitalize italic text-2xl font-bold 
  }
}
@layer components {
  .inputs {
    @apply hover:outline-none focus:outline-none pl-2 py-2 bg-complementary cursor-pointer
  }
}

.chat{
  /* clip-path: polygon(8% 19%, 90% 19%, 90% 91%, 21% 91%, 21% 101%, 17% 91%, 8% 91%); */
  border-radius: 5px;
  /* background-color: ; */
}
/* .form-box{
  background:  no-repeat ;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
  background-image: url(../src/assets/image1.webp);
  mix-blend-mode: darken(60px);
} */
